{% if user.is_authenticated %}

<div style="border: 1px solid red;"  class="alert alert-success" role="alert">
    
    <h3>Welcome {{ user.username }}!</h3>
    <h3>{{ user.email}}</h3>
    <h3>{{ user.address}}</h3>
    
    <a href="{% url 'logout' %}">Logout?</a>
</div>
{% else %}
<div style="background-color: rebeccapurple;" class="alert alert-success" role="alert">
    <h3>Welcome!</h3>
    <a href="{% url 'register' %}">Signup</a>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}